
{% extends "lila.html" %}
{% block content %}
{% load static %}
<div class="container mt-5 mb-5">
    <div class="card">
      <div class="card-body px-lg-5 pt-0">
        <br /><br />
        <div class="row">
          <div class="col-md-6">
          
  
            <img src="{% static 'img/roro.jpg' %}" alt="" class="card-img-top hoverable"/>
          </div>
          <div class="col-md-6">
           
            <h1>RAHIM FARAHAT YOUNIS</h1>
  <h3>take a look at <a class="btn btn-dark" href="https://drive.google.com/file/d/1ntOisjoR1u4dvwFIPZine66B3TPs5ILo/view?usp=drivesdk">my resume</a></h3>
            <hr />

            <br />
            <h3>follow my journey from leaving dentistary school to learning web developement and becoming fullstack developer </h3>
            <hr />
            <h2>skills</h2>
            <hr />
            <h3>python... django... java script... react... redux... rest-API... Ajax... J-query... docker... redis... postgresql... git... html... css... bootstrap</h3>
          </div>
        </div>
       
      </div>
    </div>
  
 
  </div>

{% endblock content %}
