{% extends "lila.html" %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="card">
      <div class="card-body px-lg-5 pt-0">
        <br /><br />
        <div class="row">
          <div class="col-md-6">
          
  
            <img src="{{model.image.url}}" alt="" class="card-img-top hoverable"/>
          </div>
          <div class="col-md-6">
           
            <h1>{{model.title}}</h1>
  
            <hr />

            <br />
            <h2>{{model.desc}}</h2>
            <hr />
            
            <hr />
            <p>{{model.created}}</p>
          </div>
        </div>
        <div class="row">
          <div class="container">
{% load embed_video_tags %}
<br>
<h1>{{model.video.name}}
</h1>

{% video model.video 'small' %}<br>
<hr></div>
        </div>
      </div>
    </div>
  
    <div class="container">
        <br />
   
      <br />
      <h1>HERE IS MY PROJECT DETAILS...</h1>
      <br>
      <div class="container">
        <div id="results"></div>
        {% for img in posts %}
        <div class="card">
            <div class="card-body px-lg-5 pt-0">
              <br /><br />
              <div class="row">
                <div class="col-md-6">
                
        
                  <img src="{{img.image.url}}" alt="" class="card-img-top hoverable"/>
                </div>
                <div class="col-md-6">
                 
                  
                  <br />
                  <h2>{{img.desc}}</h2>
                  <hr />

    
                </div>
              </div>
            </div>
          </div>
        
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}
